// 主题配置
$primary-color: var(--main-color);
$button-primary-background-color: var(--main-color);
$button-primary-border-color: var(--main-color);

$checkbox-label-margin-left: 5px;

//$cell-padding: var(--common-gap) var(--space-normal);
$badge-background-color: var(--main-color);
$button-default-height: 40px;

$tabs-vertical-tab-line-color: var(--main-color);

$price-medium-size: 18px;
$tabs-horizontal-tab-line-color: var(--main-color);
$tabs-tab-smile-color: var(--main-color);

$cascader-item-active-color: var(--main-color);
